:root {
    --main-reddish-purple-color: rgb(173, 8, 49);
    --main-black-color: black;
    --main-white-color: white;
    --black-color-8: rgba(0, 0, 0, 0.87);
    --white-color-9: rgba(255, 255, 255, 0.9);
    --light-cherry: rgb(255, 246, 246);
}
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}

.text-rp {
    color: var(--main-reddish-purple-color);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--main-black-color);
    font-size: 20px;
    overflow-x: hidden;
    /* perspective: 10px; */
    /* background-color: blue; */
}

.bi {
    fill: currentColor;
}

/* Navbar Begins */
.navbar {
    background-color: var(--white-color-9);
}
.navbar-brand a {
    color: var(--main-reddish-purple-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
}
.navbar-brand a span {
    color: var(--main-black-color);
}
.navbar-btn {
    border: none;
    color: var(--main-black-color);
    font-size: 30px;
}
.navbar-btn:focus {
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
    border: none;
}
.navbar-btn:hover {
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
    border: none;
}
.nav-item {
    transition: all 0.5s ease-in-out;
}
.nav-item .nav-link {
    color: var(--main-black-color);
    font-size: 17px;
    font-weight: 700;
}
.nav-item .nav-link.active {
    background-color: var(--main-reddish-purple-color);
    color: var(--main-white-color);
    border-radius: 5px;
}
.nav-item form .nav-link {
    color: var(--main-black-color);
    font-size: 17px;
    font-weight: 700;
    border: none;
    background-color: var(--main-white-color);
    border-radius: 10px;
}
.nav-item form .nav-link.active {
    background-color: var(--main-reddish-purple-color);
    color: var(--main-white-color);
    border-radius: 5px;
}
.nav-item:hover {
    background-color: var(--main-reddish-purple-color);
    border-radius: 5px;
}
.nav-item:hover .nav-link {
    color: var(--main-white-color);
}
.nav-item:hover form .nav-link {
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
    border-radius: 10px;
}
.btn-translate {
    color: var(--main-black-color);
    font-weight: 600;
    border: 1px solid var(--main-black-color);
}
.btn-translate:focus {
    border: 1px solid var(--main-reddish-purple-color);
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
}
.btn-translate:hover {
    border: 1px solid var(--main-reddish-purple-color);
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
}
.btn-closer {
    color: var(--main-black-color);
    background-color: var(--main-white-color);
}
.btn-closer i {
    font-size: 30px;
}
.btn-closer:hover {
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
}
@media (min-width: 992px) {
    .nav-item .nav-link {
        font-size: 13px;
    }
    .nav-item form .nav-link {
        font-size: 13px;
    }
    .btn-translate {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    .nav-item:hover {
        padding-left: 20px;
    }
    .nav-item .nav-link.active {
        padding-left: 20px;
    }
    .nav-item form .nav-link.active {
        padding-left: 20px;
    }
    .nav-item {
        transition: all 1s ease-in-out;
    }
}
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 55%;
        margin: auto;
        z-index: 4;
        padding-right: 1rem;
        padding-left: 0.55rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: var(--main-white-color);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }

}
@media (min-width: 1200px) {
    .nav-item .nav-link {
        font-size: 15px;
    }
    .nav-item form .nav-link {
        font-size: 15px;
    }
    .btn-translate {
        font-size: 15px;
    }
}
@media (min-width: 1400px) {
    .nav-item .nav-link {
        font-size: 17px;
    }
    .nav-item form .nav-link {
        font-size: 17px;
    }
    .btn-translate {
        font-size: 17px;
    }
}

/* Jumbotron */
.jumbotron {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-white-color);
    position: relative;
    margin-bottom: 20px;
}
.rp-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--main-reddish-purple-color);
    opacity: 0.4;
    z-index: 1;
}
.jumb-bg {
    z-index: 3;
}
.jumb-header {
    font-size: 55px;
    font-weight: 800;
}
.jumb-text {
    font-size: 30px;
    font-weight: 600;
}
.jumb-btn-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumb-btn {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--main-white-color);
    background-color: var(--main-reddish-purple-color);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
.jumb-btn:hover {
    color: var(--main-white-color);
}
@media (max-width: 768px) {
    .jumb-text {
        font-size: 23px;
    }
    .jumb-header {
        font-size: 40px;
    }
    .jumb-btn {
        font-size: 19px;
    }
}

/*  Search Area */
.search-area {
    padding:10px;
}
.form {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:10px;
    padding: 10px;
}
.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-group input[type = "text"] {
    width: 80%;
    border: none;
    outline: none;
    padding: 0px 15px;
    font-size: 14px;
    /* text-transform: uppercase; */
}
.form-group button {
    width: 20%;
    background-color: var(--main-reddish-purple-color);
    color: var(--main-white-color);
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0px;
    border: 1px solid var(--main-reddish-purple-color);
    border-radius: 5px;
}
@media (max-width: 768px) {
    .form-group button {
        font-size: 13px;
    }
}
@media (max-width: 400px) {
    .form-group button {
        font-size: 10px;
    }
}

/* Footer */
.footer {
    background-color: rgb(173, 8, 49, 0.9);
    color: var(--main-black-color);
    z-index: 2;
}
.post-btn {
    text-decoration: none;
    color: var(--main-black-color);
    border: 2px solid var(--main-black-color);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.post-btn:hover {
    color: var(--main-white-color);
    border: 2px solid var(--main-reddish-purple-color);
    background-color: var(--main-reddish-purple-color);
}
.post-btn:focus {
    color: var(--main-white-color);
    border: 2px solid var(--main-reddish-purple-color);
    background-color: var(--main-reddish-purple-color);
}

/*
    ===================
    Main Section
    ===================
*/
.list-title {
    font-size: 30px;
    text-decoration: none;
    color: var(--main-black-color);
    font-weight: 700;
}
.list-title:hover {
    color: var(--main-reddish-purple-color);
}
.list-tag {
    padding: 7px 15px;
    margin: 5px;
    font-size: 13px;
    color: var(--main-white-color);
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid var(--main-black-color);
    background-color: var(--main-black-color);
}
.list-desc {
    font-size: 20px;
}

/*
    Listing Page
*/
/* listing section */
.listing-section {
    padding: 30px 10px;
    padding-bottom: 120px;
}
.listing-section .container {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.listing-title {
    font-size: 27px;
    font-weight: 700;
}
.listing-tag {
    margin: 10px;
    font-size: 15px;
    color: var(--main-white-color);
    background-color: var(--main-black-color);
    border: 1px solid var(--main-black-color);
    border-radius: 15px;
    padding: 5px 10px;
}
.listing-location {
    margin-bottom: 30px;
}
.pg-divider {
    padding: 2px;
    width: 80%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}
.listing-desc-bg {
    padding: 5px 25px;
}
.listing-desc-bg .listing-head {
    padding: 5px;
    font-weight: 800;
    font-size: 35px;
}
.listing-desc-bg .listing-desc {
    font-size: 17px;
}
.listing-desc-bg .listing-btn-bg {
    padding: 12px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.listing-desc-bg .listing-btn-bg .listing-btn {
    text-decoration: none;
    color: var(--main-white-color);
    padding: 15px 0px;
    text-align: center;
    font-weight: bolder;
    margin: 10px 0px;
    width: 100%;
    border-radius: 15px;
}
.listing-desc-bg .listing-btn-bg .listing-btn:first-child {
    background-color: var(--main-reddish-purple-color);
}
.listing-desc-bg .listing-btn-bg .listing-btn:last-child {
    background-color: var(--main-black-color);
}

/* Show Page */
.action-bg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    width: 80%;
    margin: auto;
    margin-top: -70px;
}
.action-bg .action-btn {
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 10px;
}
.action-bg .action-btn:first-child {
    color: white;
    background-color: var(--main-reddish-purple-color);
    border: 1px solid var(--main-reddish-purple-color);
}
.action-bg .action-btn:last-child {
    color: white;
    background-color: var(--main-black-color);
    border: 1px solid var(--main-black-color);
}
